<div>
  {{#if user}}
    <h2>Bienvenido/a {{user.first_name}} {{user.last_name}}</h2>
    {{#if isAdmin}}
    <h3>Usted es ADMIN (No puede interactuar con el carrito)</h3>
    {{/if}}
  {{/if}}
  <h2>Lista de productos paginados</h2>
  <ul>
    {{#each data.payload}}
       <li>
        <a href="/products/{{this.id}}">
          {{this.title}} - {{this.price}}
        </a>
      </li>
      <form class="addToCartForm">
          <input type="hidden" name="productId" value="{{this.id}}">
          <button type="button" onclick="addToCart(this)">Añadir al carrito</button>
      </form>
    {{/each}}
  </ul>
    &nbsp;
  <div>
    {{#if data.hasPrevPage}}
        <a href={{data.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{data.page}}
    &nbsp;
     {{#if data.hasNextPage}}
        <a href={{data.nextLink}}>Siguiente >></a>
    {{/if}} 
  </div>
    &nbsp;
  <div>
    <a id="cartLink" href="#">Ir al carrito</a>
  </div>
  &nbsp;
  <div>
    <a href="/sessions/logout" onclick="logout(this)">Cerrar sesión (Se eliminará el carrito actual)</a>
  </div>
</div>

<script>
  function logout(a) {
    localStorage.clear()
  }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cartId = localStorage.getItem('cartId');

    if (!cartId || cartId === undefined) {
      fetch('/cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          localStorage.setItem('cartId', data.cartId);

          const cartLink = document.getElementById('cartLink');
          cartLink.href = `/carts/${data.cartId}`;
        })
        .catch(error => console.error('Error creating cart:', error));
    } else {
      const cartLink = document.getElementById('cartLink');
      cartLink.href = `/carts/${cartId}`;
    }
  });
</script>
<script>
  function addToCart(button) {
    const form = button.closest('.addToCartForm');
    const productId = form.querySelector('input[name="productId"]').value;
    const cartId = localStorage.getItem('cartId');

    if (!cartId){
        console.error("Carrito no encontrado")
        return
    }

    fetch(`/cart/${productId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ cartId }),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Producto agregado al carrito');
    })
    .catch(error => console.error('Error:', error));
  }
</script>
